<section>
  <app-header></app-header>
</section>

<section class="landing-wrapper">
  <div class="landing-container">
    <h1>Movies, TV shows and more</h1>
    <h2>Watch whenever you want wherever you want</h2>
    <h3>Enter your email to create or restart your subscription</h3>
    <form>
      <input type="email" placeholder="Email Address" />
      <button [routerLink]="['/signup']">
        Sign Up <img src="assets/img/icons/chevron_right.svg" alt="" />
      </button>
    </form>
  </div>
</section>

<section>
  <app-footer class="footer"></app-footer>
</section>
