@import '../../styles.scss';

.reset-password-wrapper {
    @include dFlex(column, center, center);
    height: 100vh;
    width: 100vw;
    @include background-image("backgrounds/background_5.webp");
    overflow-y: auto;

    .reset-password-header {
        width: 100%;
        max-width: 1440px;
    }

    .reset-password-content {
        @include dFlex(column, center, center);
        flex: 1;
    }
}

.reset-password-container {
    @include dFlex(column, center, center);
    width: 520px;
    height: 404px;
    background-color: $white;
    border-radius: 48px;
    padding: 43px 56px;
    gap: 16px;

    h1 {
        @include DMSans(700, 48px, 62.5px, $main-blue-dark);
        text-align: center
    }

    h2 {
        @include DMSans(400, 18px, 23.44px, $black);
        text-align: center;
    }

    span .highlight {
        @include DMSans(400, 18px, 23.44px, $main-blue-dark);
        text-align: center;
    }
}

.success-container {
    @include dFlex(column, center, center);
    width: 520px;
    height: 404px;
    background-color: $white;
    border-radius: 48px;
    padding: 43px 56px;
    gap: 16px;

    h1 {
        @include DMSans(700, 48px, 62.5px, $main-blue-dark);
        text-align: center;
    }

    p {
        @include DMSans(500, 18px, 23.44px, $black);
        text-align: center;
    }

    img {
        width: 160px;
    }

}

form {
    @include dFlex(column, center, center);
    width: 408px;
    height: 167px;
    gap: 24px;

    button {
        @include buttonBlue(unset, 48px, 10px);

        &:hover {
            @include btnHover($main-blue-dark);
        }

        &:active {
            @include btnActive($main-blue-dark);
        }

        &:disabled {
            @include btnDisabled($main-blue-dark);
        }
    }
}

input {
    width: 408px;
    height: 48px;
    border-radius: 12px;
    padding: 12px 24px;
    box-sizing: border-box;
    border: solid 1px $main-blue-dark;
    cursor: pointer;
}



input::placeholder {
    @include DMSans(400, 18px, 23.44px, $main-blue-dark);
}

p {
    @include DMSans(500, 18px, 23.44px, $black);
}

@media screen and (max-height: 450px) {
    .reset-password-wrapper {
        display: block !important;
    }

    .footer {
        margin-top: 32px !important;
    }
}

@media screen and (max-width: $responsive-breakpoint) {
    .reset-password-container {
        max-width: 320px;
        height: 384px;
        padding: 43px 24px;
        gap: 32px;

        h1 {
            @include DMSans(700, 40px, 40px, $main-blue-dark);
            white-space: nowrap;
        }

        h2 {
            @include DMSans(400, 16px, 20.83px, $black);
            text-align: center;
        }

        span .highlight {
            @include DMSans(400, 16px, 20.83px, $main-blue-dark);
            text-align: center;
        }
    }

    .success-container {
        max-width: 320px;
        height: 384px;
        padding: 43px 24px;
        gap: 16px;

        h1 {
            @include DMSans(700, 40px, 52.08px, $main-blue-dark);
            margin-block-end: unset !important;
            margin-block-start: unset !important;
            padding: 8px;
        }

        img {
            width: 132px;
            margin-top: -20px;
        }
    }

    form {
        @include dFlex(column, center, center);
        width: 310px;
        height: 159px;
    }

    input {
        width: 310px;
    }

    input::placeholder {
        @include DMSans(400, 16px, 20.83px, $main-blue-dark);
    }
}