@import '../../../styles.scss';


.header-wrapper {
    @include dFlex(row, center, center);
    width: 100%;
    height: 108px;
    z-index: 5;

    .header {
        width: 100%;
        color: white;
        max-width: 1440px;
        @include dFlex(row, space-between, center);
        padding: 10px 96px;
        box-sizing: content-box;
    }
}

a:hover {
    scale: 1.2;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.logo-header {
    @include dFlex(row, center, center);
    cursor: pointer;
}

button {
    @include dFlex(row, center, center);
    @include buttonBlue(unset, 48px, 10px);
}

@media screen and (max-width: 950px) {

    .header {
        padding: 10px 32px !important;
    }
}

@media screen and (max-width: $responsive-breakpoint) {
    .header {
        padding: 10px 16px !important;
    }


}