@import '../../../styles.scss';

.header{
    width: 100%;
    height: 108px;
    color: white;
    max-width: 1440px;
    @include dFlex(row, space-between, center);
    padding: 0 96px;
}

.logo_header{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    @include buttonBlue(99px, 48px, 10px);
}