<section>
    <app-header class="header"></app-header>
</section>
<section class="resetpassword-wrapper">
    <div class="resetpassword-container">
        <h1>Forgot your password?</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <input type="email" placeholder="Email Address" formControlName="email">
            @if (resetPasswordForm.controls['email'].touched && resetPasswordForm.controls['email'].invalid) {
            <div class="error-message">
                @if (resetPasswordForm.controls['email'].errors?.['required']) {
                <p>Email is required.</p>
                }
                @if (resetPasswordForm.controls['email'].errors?.['email']) {
                <p>Please enter a valid email address.</p>
                }
                <!-- todo validate email check if exists in db -->
            </div>
            }
            <button type="submit" [disabled]="resetPasswordForm.invalid">Send Email</button>
        </form>
    </div>
</section>
<section>
    <app-footer></app-footer>
</section>