<div class="imprint-wrapper">
    <app-header class="header"></app-header>
    <section class="imprint-container">
        <h1><strong>Imprint</strong></h1>
        <p>Information in accordance with Section 5 TMG</p>
        <p><strong>Name:</strong> Lukas Nolting</p>
        <p><strong>Address:</strong><br> Esenser Straße 11<br>26409 Wittmund</p>
        <p><strong>Name:</strong> Alexander Luft</p>
        <p><strong>Address:</strong><br> Arnold-Schönbergstr.14<br>66955 Pirmasens</p>
        <p><strong>Name:</strong> Benjamin Tietz</p>
        <p><strong>Address:</strong><br> Wiehagener Straße 58<br>42499 Hückeswagen</p>
        <p><strong>Contact:</strong></p>
        <p><strong>Email:</strong> <a href="
mailto:noreply@lukas-nolting.de
">
                noreply&#64;lukas-nolting.de
            </a></p>
        <p><strong>Website:</strong> <a
                href="http://gruppe-49408.developerakademie.org">gruppe-49408.developerakademie.org</a></p>

        <h2>Disclaimer</h2>
        <p><strong>Responsibility for Content</strong></p>
        <p>The content of our pages has been created with the greatest care. However, we cannot guarantee that the
            content is up-to-date, reliable, or complete. According to § 7 (1) TMG, we are responsible for our own
            content on these pages. However, according to §§ 8 to 10 TMG, we are not obligated to monitor transmitted or
            stored information or to investigate circumstances that indicate illegal activities. If we become aware of
            any legal violations, we will remove such content immediately.</p>

        <p><strong>Responsibility for Links</strong></p>
        <p>The responsibility for the content of external links lies solely with their operators. At the time of
            linking, no illegal content was recognizable on the linked pages. If we become aware of any legal
            violations, we will remove such links immediately.</p>

        <p><strong>Copyright</strong></p>
        <p>The content and works created by the website operators on these pages are subject to German copyright law.
            The reproduction, editing, distribution, and any kind of exploitation outside the limits of copyright
            require the written consent of the respective author or creator. Downloads and copies of this page are only
            permitted for private, non-commercial use. As far as the content on this page is not created by the
            operator, the copyrights of third parties are respected. In particular, third-party content is marked as
            such. If you become aware of a copyright infringement, we ask for a corresponding note. If we become aware
            of any legal violations, we will remove such content immediately.</p>

        <p><strong>Image and Video Credits</strong></p>
        <p>Some images and videos on this website are provided by Pixabay and are available under the Pixabay License.
            These media can be used freely without attribution, although attribution is appreciated within the
            community. For more details, visit <a href="https://pixabay.com/service/license/" target="_blank">Pixabay
                License</a>.</p>

        <p>This imprint was created with <a href="http://impressumgeneratorenglisch.de/"
                target="_blank">impressumgeneratorenglisch.de</a>.</p>

    </section>
    <app-footer class="footer"></app-footer>
</div>