@import '../../styles.scss';

.imprint-wrapper {
    @include dFlex(column, flex-start, center);
    width: 100vw;
    height: 100vh;
    background-color: $black;
    overflow-y: auto;
    overflow-x: hidden;

    .imprint-container {
        flex: 1;
        max-width: 1440px;
        padding: 0 96px 64px 96px;
    }

    .header {
        width: 100%;
        max-width: 1440px;
    }

    .footer {
        width: 100%;
        max-width: 1440px;
    }
}

h1 {
    @include DMSans(700, 88px, 114.58px, $white);
}

h2 {
    @include DMSans(700, 48px, 62.5px, $white);
}

p {
    @include DMSans(400, 16px, 20.83px, $white);
    margin-bottom: 8px;
}

@media screen and (max-width: 950px) {
    .imprint-container {
        padding: 0 32px 64px 32px !important;
    }

    h1 {
        @include DMSans(700, 78px, 104.58px, $white);
    }

    h2 {
        @include DMSans(700, 38px, 52.5px, $white);
    }
}

@media screen and (max-width: $responsive-breakpoint) {
    .imprint-container {
        padding: 0 16px 64px 16px !important;
    }

    h1 {
        @include DMSans(700, 40px, 66.58px, $white);
    }

    h2 {
        @include DMSans(700, 28px, 42.5px, $white);
    }
}