<div class="imprint-wrapper">
    <app-header class="header"></app-header>
    <section class="imprint-container">
        <h1><strong>Imprint</strong></h1>
        <p>Data in accordance with Section 5 TMG</p>
        <p>(COMPANY NAME)</p>
        <p>ADDRESS<br>POSTER CODE CITY</p>
        <p><strong>Represented by:</strong></p>
        <p>COMPANY NAME</p>
        <h2>Contact details</h2>
        <p>Telephone: TEL NR</p>
        <p>E-mail: EMAIL_ADDRESS (mailto: EMAIL_ADDRESS)</p>
        <p>Website: WEBSITE URL</p>
        <p>Registered in the regional cooperative register</p>
        <p>Registration number: REG.NR</p>
        <p>Court of jurisdiction: JURISDICTION</p>
        <h2>Disclaimer</h2>
        <p><strong>Responsibility for Content</strong></p>
        <p>The content of our websites has been created with the greatest care. Nevertheless, we cannot guarantee that
            the content is up-to-date, reliable or complete. In accordance with legal regulations, we are responsible
            for
            the content we have created ourselves <a href="https://werderbremennews.de/" target="_blank">sv werder
                bremen
                news</a>. In this context, we would like to clarify that we are not responsible for
            information provided by or collected by third parties. We
            neither control the information that is sent, nor do we pursue possible illegal activities. If illegal
            activities are detected, we comply with our obligation to
            block or delete the corresponding content, in accordance with paragraphs 8 to 10 of the Telemedia Act (TMG).
        </p>
        <p><strong>Responsibility for links</strong></p>
        <p>The responsibility for the content of third-party links (external content) lies with the respective
            website operators. At the time the links used were inserted on our pages, no illegal
            activities were detected in them. As soon as we become aware of illegal activities or violations, we will
            remove
            the relevant link.</p>
        <p><strong>Copyright</strong></p>
        <p>Our websites and their content (text, photos, graphics, design) are subject to German copyright law. Unless
            otherwise agreed by law, the use, reproduction, copying or modification of the content is subject to
            copyright.
            Exceptions must be approved in writing by the website operators or rights holders. Individual copies are
            only
            permitted for private use; they may not be used directly or indirectly for commercial purposes. The
            unauthorized
            use of material protected by copyright is punishable under paragraph 106.</p>
        <p><strong>Image and Video Credits</strong></p>
        <p>Some images and videos used on this website are provided by Pixabay and are available under the Pixabay
            License. These media can be used freely without attribution, though attribution is appreciated within the
            community. For more details, visit <a href="https://pixabay.com/service/license/" target="_blank">Pixabay
                License</a>.</p>
        <p>This imprint was created on <a href="http://impressumgeneratorenglisch.de/"
                target="_blank">impressumgeneratorenglisch.de</a>.</p>
    </section>
    <app-footer class="footer"></app-footer>
</div>