@import '../../../styles.scss';

.player-wrapper {
    position: relative;
}

video {
    width: 100%;
    height: auto;
    max-width: 100%;
}

// @media screen and (max-width: 450px) {
//     .player-wrapper {
//         width: 450px;
//     }
// }