<section class="player-wrapper">
    <video id="my-player" class="video-js vjs-fluid vjs-custom-skin" controls preload="auto">
        <!-- Kein <source> Tag nötig, da das HLS-Format dynamisch über JavaScript gesetzt wird -->
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
            </a>
        </p>
    </video>
</section>