<section >
    <app-header class="header"></app-header>
</section>

<section class="signup-wrapper">
    <div class="signup-container">
        <h1>Sign up</h1>
        <form>
            <input type="email" placeholder="Email Address">
            <input type="password" placeholder="Enter a Password">
            <input type="password" placeholder="Confirm Password">
            <button>Get Started</button>
        </form>
    </div>
</section>

<section>
    <app-footer></app-footer>
</section>