@import '../../styles.scss';

.privacy-wrapper {
    @include dFlex(column, flex-start, center);
    width: 100vw;
    height: 100vh;
    background-color: $black;
    overflow-y: auto;
    overflow-x: hidden;
    .privacy-container{
        flex: 1;
        max-width: 1440px;
        padding: 0 96px 64px 96px;
    }
    .header {
        width: 100%;
        max-width: 1440px;
    }
    .footer {
        width: 100%;
        max-width: 1440px;
    }
}

h1 {
    @include DMSans(700, 88px, 114.58px, $white);
}

h2 {
    @include DMSans(700, 48px, 62.5px, $white);
}

h3 {
    @include DMSans(700, 32px, 37.5px, $white);
}

ul {
    @include DMSans(400, 16px, 20.83px, $white);
    margin-bottom: 8px;
}

li {
    @include DMSans(400, 16px, 20.83px, $white);
    margin-bottom: 8px;
}

p {
    @include DMSans(400, 16px, 20.83px, $white);
    margin-bottom: 8px;
}