<div class="privacy-wrapper">
    <app-header class="header"></app-header>
    <section class="privacy-container">
        <h1>Privacy Policy</h1>
        <h2 id="m4158">Preamble</h2>
        <p>With the following privacy policy, we would like to inform you about which types of your personal data
            (hereinafter also referred to as "data") we process for what purposes and to what extent in the context of
            providing our application.</p>
        <p>The terms used are not gender-specific.</p>
    
        <p>As of: October 3, 2024</p>
    
        <h2 id="m3">Person responsible</h2>
        <p>First name, last name / company<br>Street, house number<br>Zip code, city, country</p>
    
        <p>E-mail address: <a href="mailto:firstname.lastname@exampledomain.eu">firstname.lastnameATexampledomain.eu</a></p>
    
        <h2 id="mOverview">Overview of processing</h2>
        <p>The following overview summarises the types of data processed and the purposes of their processing and refers to
            the persons concerned.</p>
        <h3>Types of data processed</h3>
    
        <ul>
            <li>Inventory data.</li>
            <li>Contact data.</li>
            <li>Content data.</li>
            <li>Usage data.</li>
            <li>Meta, communication and Process data.</li>
            <li>Protocol data.</li>
        </ul>
        <h3>Categories of data subjects</h3>
        <ul>
            <li>Communication partners.</li>
            <li>Users.</li>
        </ul>
        <h3>Purposes of processing</h3>
        <ul>
            <li>Communication.</li>
            <li>Security measures.</li>
            <li>Organizational and administrative procedures.</li>
            <li>Feedback.</li>
            <li>Provision of our online offering and user-friendliness.</li>
            <li>Information technology infrastructure.</li>
        </ul>
        <h2 id="m2427">Relevant legal bases</h2>
        <p><strong>Relevant legal bases under the GDPR: </strong>Below you will find an overview of the legal bases of the
            GDPR on the basis of which we process personal data. Please note that in addition to the provisions of the GDPR,
            national data protection regulations may apply in your or our country of residence or domicile. If more specific
            legal bases are relevant in individual cases, we will inform you of these in the data protection declaration.
        </p>
        <ul>
            <li><strong>Consent (Art. 6 Para. 1 Clause 1 lit. a) GDPR)</strong> - The data subject has given his or her
                consent to the processing of personal data concerning him or her for a specific purpose or several specific
                purposes.</li>
            <li><strong>Performance of a contract and pre-contractual inquiries (Art. 6 Para. 1 Clause 1 lit. b)
                    GDPR)</strong> - The processing is necessary for the performance of a contract to which the data subject
                is a party or for the implementation of pre-contractual measures taken at the request of the data subject.
            </li>
            <li><strong>Legitimate interests (Art. 6 Para. 1 Clause 1 lit. f) GDPR)</strong> - The processing is necessary
                to safeguard the legitimate interests of the controller or a third party, provided that the interests,
                fundamental rights and freedoms of the data subject which require the protection of personal data are not
                overridden. prevail.</li>
        </ul>
        <p><strong>National data protection regulations in Germany: </strong>In addition to the data protection regulations
            of the GDPR, national regulations on data protection apply in Germany. This includes in particular the law on
            protection against misuse of personal data in data processing (Federal Data Protection Act - BDSG). The BDSG
            contains in particular special regulations on the right to information, the right to deletion, the right of
            objection, the processing of special categories of personal data, processing for other purposes and transmission
            and automated decision-making in individual cases, including profiling. Furthermore, state data protection laws
            of the individual federal states may apply.</p>
        <p><strong>Note on the validity of the GDPR and the Swiss DSG: </strong>This data protection notice serves both to
            provide information in accordance with the Swiss DSG and the General Data Protection Regulation (GDPR). For this
            reason, we ask you to observe
    </section>
    <app-footer class="footer"></app-footer>
</div>
