@import '../../styles.scss';

.forgot-password-wrapper {
    @include dFlex(column, center, center);
    height: 100vh;
    width: 100vw;
    background-color: $black;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/img/backgrounds/background_3.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .forgot-password-header {
        width: 100%;
        max-width: 1440px;
    }

    .forgot-password-content {
        @include dFlex(column, center, center);
        flex: 1;
    }
}

.forgot-password-container {
    @include dFlex(column, center, center);
    width: 520px;
    height: 404px;
    background-color: $white;
    border-radius: 48px;
    padding: 43px 56px;
    gap: 16px;

    h1 {
        @include DMSans(700, 48px, 62.5px, $main-blue-dark);
        text-align: center;
    }

    h2 {
        @include DMSans(400, 18px, 23.44px, $black);
        text-align: center;
    }
}

.success-container {
    @include dFlex(column, center, center);
    width: 520px;
    height: 404px;
    background-color: $white;
    border-radius: 48px;
    padding: 43px 56px;
    gap: 16px;

    h1 {
        @include DMSans(700, 48px, 62.5px, $main-blue-dark);
    }

    p {
        @include DMSans(500, 18px, 23.44px, $black);
        text-align: center;
    }

    img {
        width: 280px;
        height: 280px;
        margin-top: -40px;
    }
}

form {
    @include dFlex(column, center, center);
    width: 408px;
    height: 167px;
    gap: 16px;

    button {
        @include buttonBlue(151px, 48px, 10px);
        margin-top: 8px;

        &:hover {
            @include btnHover($main-blue-dark);
        }

        &:active {
            @include btnActive($main-blue-dark);
        }

        &:disabled {
            @include btnDisabled($main-blue-dark);
        }
    }
}

input {
    width: 408px;
    height: 48px;
    border-radius: 12px;
    padding: 12px 24px;
    box-sizing: border-box;
    border: solid 1px $main-blue-dark;
    cursor: pointer;
}



input::placeholder {
    @include DMSans(400, 18px, 23.44px, $main-blue-dark);
}

p {
    @include DMSans(500, 18px, 23.44px, $black);
}

@media screen and (max-width: $responsive-breakpoint) {
    .forgot-password-container {
        max-width: 320px;
        height: 384px;
        padding: 43px 24px;
        gap: 32px;

        h1 {
            @include DMSans(700, 40px, 40px, $main-blue-dark);
        }

        h2 {
            @include DMSans(400, 16px, 20.83px, $black);
        }
    }

    .success-container {
        max-width: 320px;
        height: 384px;
        padding: 43px 24px;
        gap: 32px;

        h1 {
            @include DMSans(700, 40px, 40px, $main-blue-dark);
        }

        img {
            width: 200px;
            margin-top: -40px;
        }
    }

    form {
        @include dFlex(column, center, center);
        width: 310px;
        height: 159px;
        gap: 16px;
    }

    input {
        width: 310px;
    }

    input::placeholder {
        @include DMSans(400, 16px, 20.83px, $main-blue-dark);
    }
}