<section>
    <app-header class="header"></app-header>
</section>
<section class="forgot-password-wrapper">
    <div class="forgot-password-container">
        <h1>Forgot your password?</h1>
        <h2>We will send you an email with instructions to reset your password.</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <input type="email" placeholder="Email Address" formControlName="email">
                @if (forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].invalid) {
                <div class="error-message">
                    @if (forgotPasswordForm.controls['email'].errors?.['required']) {
                    <p>Email is required.</p>
                    }
                    @if (forgotPasswordForm.controls['email'].errors?.['email']) {
                    <p>Please enter a valid email address.</p>
                    }
                    <!-- todo validate email check if exists in db -->
                </div>
                }
            </div>
            <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Email</button>
        </form>
    </div>
</section>
<section>
    <app-footer></app-footer>
</section>