<div class="forgot-password-wrapper">
    <section class="forgot-password-header">
        <app-header class="header"></app-header>
    </section>
    <section class="forgot-password-content">
        @if (this.showForgotPasswordForm) {
        <div class="forgot-password-container">
            <h1>Forgot your password?</h1>
            <h2>We will send you an email with instructions to reset your password.</h2>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="input-container">
                    <input type="email" placeholder="Email Address" formControlName="email">
                    @if (forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].invalid) {
                    <div class="error-message">
                        @if (forgotPasswordForm.controls['email'].errors?.['required']) {
                        <p>Email is required.</p>
                        }
                        @if (forgotPasswordForm.controls['email'].errors?.['email']) {
                        <p>Please enter a valid email address.</p>
                        }
                    </div>
                    }
                </div>
                <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Email</button>
            </form>
        </div>
        } @else {
        <div class="success-container">
            <h1>Email sent!</h1>
            <p>Check your email for instructions to reset your password.</p>
            <img src="img/icons/email.svg" alt="success">
        </div>
        }
    </section>
    <section class="footer">
        <app-footer></app-footer>
    </section>
</div>