<section>
    <app-header class="header"></app-header>
</section>
<section class="home-wrapper">
    <div class="video-container"
        [ngClass]="{'d-none': (this.communicationService.isMobileViewActive && !this.communicationService.isPreviewVideoPlaying)}">
        <app-video-player>
        </app-video-player>
        <div class="preview-section">
            <!-- todo embedd video description here START -->
            <div class="video-description">
                @for (currentVideo of currentVideoObj; track currentVideoObj; let index = $index) {
                <h1>{{currentVideo.title}}</h1>
                <p>{{currentVideo.description}}</p>
                <button type="button" (click)="this.communicationService.handlePlayVideo()"><img
                        src="../img/icons/play_btn.svg" alt="play_btn">Play</button>
                }
            </div>
            <!-- todo embedd video description here END-->
        </div>
    </div>

    <div class="category-section"
        [ngClass]="{'d-none': (this.communicationService.isMobileViewActive && this.communicationService.isPreviewVideoPlaying)}">
        <!-- todo add categories here START -->

        <div class="category-container">
            <h2>New on Videoflix</h2>
            <carousel [maxWidthCarousel]="1440" [responsive]="true" [arrows]="false" [dots]="false" [counter]="false"
                [displayAutoPlayControls]="false" [gapBetweenSlides]="0" [maxDomSize]="2" [enableTouch]="true"
                [slideMaxWidth]="250" [slideWidth]="225" [slideToShow]="2" class="carousel-wrapper">
                @for (video of newVideos; track video; let index = $index) {
                <div class="carousel-slide" (click)="this.handlePlayVideo(video, video.video_file)">
                    <img [src]="video.thumbnail" alt="{{video.title}}">
                </div>
                }
            </carousel>
        </div>
        <div class="category-container">
            <h2>Documentary</h2>
            <carousel [maxWidthCarousel]="1440" [responsive]="true" [arrows]="false" [dots]="false" [counter]="false"
                [displayAutoPlayControls]="false" [gapBetweenSlides]="0" [maxDomSize]="6" [enableTouch]="true"
                [slideMaxWidth]="250" [slideWidth]="225" [slideToShow]="6" class="carousel-wrapper">
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
            </carousel>
        </div>
        <div class="category-container">
            <h2>Drama</h2>
            <carousel [maxWidthCarousel]="1440" [responsive]="true" [arrows]="false" [dots]="false" [counter]="false"
                [displayAutoPlayControls]="false" [gapBetweenSlides]="0" [maxDomSize]="6" [enableTouch]="true"
                [slideMaxWidth]="250" [slideWidth]="225" [slideToShow]="6" class="carousel-wrapper">
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
                <div class="carousel-slide">
                    <img src="../img/videos/placeholder_video.png" alt="video-1">
                </div>
            </carousel>
        </div>
        <!--todo add categories here END-->
    </div>
    <section class="home-footer">
        <app-footer></app-footer>
    </section>
</section>